<!DOCTYPE html>
<html>
<head>
	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/vendor/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/vendor/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
      <link rel="stylesheet" type="text/css" href="/vendor/css/admin_dashboard.css">
     <link rel="stylesheet" type="text/css" href="/vendor/css/media_queries.css">
     <link rel="stylesheet" type="text/css" href="/vendor/css/loaner-list.css">
   
   
  
	<title>Loaner List</title>
</head>

<body>

	<div class="row header">
		
		<div class="col-lg-4">
			
		</div>
		<div class="col-lg-4">
		    <input type="text"  id="search-input" name=""><button id="btn-search"><span class="fa fa-search"></span></button>
		     <ul class="list-group result">
		    	
		    </ul>
		</div>
		<div class="col-lg-4 ">
			<div class="d-flex flex-row-reverse">
				<div class="dropdown" style="">
			  <button type="button" class="btn-profile dropdown-toggle" data-toggle="dropdown">
			    Admin Profile
			  </button>
			  <div class="dropdown-menu">

       	  	  	   <img id="image" src="vendor/login.png" >	
			     <a class="dropdown-item" href="/dashboard"><span class="fa fa-user mr-3"></span>Profile</a>
			     <a class="dropdown-item" href="/loaner-list"><span class="	fa fa-cogs"></span>Settings</a>
			     <a class="dropdown-item" href="#logout" data-toggle="modal"><span class="fa fa-share-square"></span>Logout</a>
			    
			  </div>
			</div>
			</div>
			

		</div>
		
	</div>
	<div class="row body-content-row">
		
			<div class="col-lg-2 side-nav-col">
				 <ul class="side_nav">

					 <button class="btn-toggler"><span class="fa fa-bars"></span></button><br>

					  	<div class="toggleNav" style="">

						  	  <li><a href="/dashboard" class="nav-link"><span class="fa fa-home"></span>Home</a></li>
							 <li><a href="/loaner-list" class="nav-link"><span class="	fa fa-id-card"></span>Loaner List</a></li>
							 <li><a href="/add-customer" class="nav-link"><span class="fa fa-edit"></span>Register</a></li>
							 <li><a href="/messages" class="nav-link"><span class="fa fa-envelope"></span>Messages</a></li>
							 <li><a href="/employees" class="nav-link"><span class="fa fa-users" style="float: none;font-size: 16px;"></span>Employee</a></li>
							 <li><a href="/expenses" class="nav-link"><span class="	fa fa-shopping-cart"></span>Expenses</a></li>
							  <li><a href="/payment" class="nav-link"><span class="	fa fa-shopping-cart"></span>Payment</a></li>

							 <li><a href="/angular" class="nav-link"><span class="fa fa-cogs"></span>Settings</a></li>
						
					  	</div>
						
				</ul>
			</div>
			<div class="col-lg-10">
				<div class="card  table-responsive  mt-3 ">
					<div class="card-body">
						<table class="table table-bordered table-striped" id="dataTable">
						<thead>
							<tr>
				     			<th>ID</th>
				     			<th>Customer Name</th>
				     			<th>Phone Number</th>
				     			<th>Address</th>
				     			<th>Work</th>
				     			<th>Loan</th>
				     			<th>Action</th>
				     			
			     	    	</tr>
						</thead>
						<tbody>

							 {{#each results}}
						        <tr>
						          <td>{{ id }}</td>
						          <td>{{ customer_name }}</td>
						          <td>{{ phone_number }}</td>
						          <td>{{ address }}</td>
						          <td>{{ work }}</td>
						          <td>{{ loan }}</td>
						      
						          <td>
						            <a href="javascript:void(0);" class="btn btn-sm btn-info edit" data-id="{{ id }}" data-customer_name="{{ customer_name }}" data-phone_number="{{ phone_number }}" data-address="{{ address }}" data-work="{{ work }}" data-loan="{{ loan }}">Edit</a>
						            <a href="javascript:void(0);" class="btn btn-sm btn-danger delete" data-id="{{id }}">Delete</a>
						          </td>
						        </tr>
				        {{/each}}
						</tbody>
					</table>
					</div>
				</div>
					
			</div>
			
	

	</div>


	<div class="modal" id="modalDelete">
		<div class="modal-dialog">
			<div class="modal-content">
				
			<!--<div class="modal-body">
					<h6 class=" text-center text-delete" style="color: red;">Are you sure you want to delete this record?</h6>
				</div>-->
				<div class="modal-body">
					<h6 class=" text-center text-delete" style="color: red;">Are you sure you want to delete this record?</h6>
					
					<form method="POST" action="/delete">
						<input type="hidden" name="id" id="customer_id">
						<button data-dismiss="modal" class="btn-no">No</button>
						<button type="submit" class="btn-delete">Delete</button>
					</form>
				</div>
				<!--<div class="modal-footer">
					<form method="POST" action="/delete">
						<input type="hidden" name="id" id="customer_id">
						<button type="submit" class="btn btn-primary">Delete</button>
					</form>-->
				<!--</div>-->
				
			</div>
		</div>
		
	</div>

<!-- modal for update customer -->
<div class="modal" id="modalUpdate">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h4>Update Customer</h4>
				<button data-dismiss="modal" class="close"><span>&times;</span></button>
			</div>
			<div class="modal-body">
				<form action="/update" method="POST"> 
					
				  
			        <label>Customer Name</label>
			     	<input type="text" class="form-control" name="customer_name" id="name" required>
			     	<label>Phone Number</label>
			     	<input type="number" class="form-control" name="phone_number" id="number" required>
			     	<label>Address</label>
			     	<input type="text" class="form-control" name="address" id="address" required>
			     	<label>Work</label>
			     	<input type="text" class="form-control" name="work" id="work" required>
			     	<label>Total Loan</label>
			     	<input type="number" class="form-control" name="loan" id="loan" required>
			
			</div>
			<div class="modal-footer">
				<input type="hidden" name="id" id="customers_id">
				<button type="submit" class="btn btn-primary">Update</button>
				</form>
			</div>
			
		</div>
		
	</div>
	
</div>
	<!-- modal for logout-->
			<div class="modal" id="logout">
				<div class="modal-dialog">
					<div class="modal-content">

						<div class="modal-body">
							<h4 class=" text-center"><span class="fa fa-question"></span></h4>
							<h6 class="text-center logout">Are you sure you want to logout?</h6>
							<a href="" type="button" data-dismiss="modal" class="no text-center" style="color: white;text-decoration: none;">No</a><a href="/logout" style="color: white;text-decoration: none;" type="button" class="yes text-center">Yes</a>
						</div>
						
						
					</div>
				</div>
				
			</div>
<!-- jquery files -->
<script src="/vendor/vendor/jquery-easing/jquery.easing.min.js"></script>
<script src="/vendor/vendor/jquery/jquery.min.js"></script>
<script src="/vendor/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>  
<!-- dataTables files -->
<link href="vendor/vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">
<script src="vendor/vendor/datatables/jquery.dataTables.js"></script>
<script src="vendor/vendor/datatables/dataTables.bootstrap4.js"></script>
<script type="text/javascript" src="/vendor/js/loaner_list.js"></script>
<script type="text/javascript" src="/vendor/js/main.js"></script>

</body>
</html>